@charset "UTF-8";
#header.bg_change {
  background: #00ae9f;
  border-bottom: 0.2778vw solid #999999; }

.logo {
  top: 4.7222vw;
  left: 6.9444vw;
  width: 27.7778vw;
  height: 7.7778vw; }
  .logo a {
    display: block;
    width: 100%;
    height: 100%; }
  .logo, .logo a img {
    position: absolute; }

.sub_tit {
  font-family: Audrey;
  font-weight: 400;
  color: #0e2b3d;
  font-size: 11.1111vw;
  text-align: center;
  margin: 12.5000vw 0;
  letter-spacing: 1.2; }

.main_visual .bgcover {
  min-height: 177.7778vw;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  /* 위아래 기준 중앙정렬 */
  justify-content: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url("../images/main/main_bg.png"); }
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    .main_visual .bgcover .intro {
      background-image: url("../images/main/main_bg_x2.png"); } }
  @media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
    .main_visual .bgcover .intro {
      background-image: url("../images/main/main_bg_x3.png"); } }
.main_visual .txtwrap {
  position: absolute;
  bottom: 19.4444vw;
  left: 8.3333vw;
  text-align: right;
  color: #ffffff; }
  .main_visual .txtwrap p {
    font-size: 8.3333vw; }
  .main_visual .txtwrap strong {
    display: block;
    font-size: 5.5556vw;
    font-weight: 300; }
  .main_visual .txtwrap::after {
    content: "";
    position: absolute;
    bottom: 15.5vw;
    right: 0;
    height: 0.2778vw;
    width: 41.6667vw;
    background: #ffffff;
    opacity: 0.5; }
.main_visual .undertxt {
  width: 100%;
  margin-top: 0; }
  .main_visual .undertxt .intro_go {
    display: block;
    left: 0;
    font-size: 3.6111vw;
    line-height: 11.11111vw;
    padding-top: 8.33333vw;
    height: 11.11111vw; }
    .main_visual .undertxt .intro_go img {
      display: inline-block;
      padding-left: 4.1667vw;
      width: 5.55556vw;
      height: 5.55556vw;
      position: relative;
      top: calc(50% - 2.7778vw);
      left: 0; }
.main_visual #bubblebox {
  min-height: 166.6667vw;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  display: inline-block; }
  .main_visual #bubblebox a {
    display: block;
    width: 100%; }
.main_visual .next {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5%;
  width: 100%;
  background: #ffffff;
  border-top: 0.2778vw solid #999999;
  -webkit-border-radius: 1em 1em 0 0;
  border-radius: 1em 1em 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
.main_visual .next::after {
  content: "";
  position: absolute;
  bottom: 70%;
  right: calc(50% - 12.5%);
  height: 0.4167vw;
  width: 25%;
  background: #999999; }

.best_cnt {
  margin-top: 15.2778vw;
  padding: 0 8.3333vw;
  height: 100%; }
  .best_cnt img {
    display: block; }
  .best_cnt .swiper-container {
    overflow: visible; }
    .best_cnt .swiper-container p {
      font-size: 4.44444vw; }
  .best_cnt .swiper-pagination {
    display: none; }
  .best_cnt .swiper-slide {
    height: 100.0000vw; }
    .best_cnt .swiper-slide .best_pd {
      position: relative;
      left: calc(50% - 27.7778vw );
      bottom: 0;
      width: 55.5556vw;
      height: 55.5556vw;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: 0.8333vw 0.8333vw 2.7778vw rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0.8333vw 0.8333vw 2.7778vw rgba(0, 0, 0, 0.2);
      -o-box-shadow: 0.8333vw 0.8333vw 2.7778vw rgba(0, 0, 0, 0.2);
      box-shadow: 0.8333vw 0.8333vw 2.7778vw rgba(0, 0, 0, 0.2); }
    .best_cnt .swiper-slide strong {
      display: block;
      margin-top: 11.1111vw;
      width: 100%;
      font-size: 4.7222vw;
      font-weight: 700;
      color: #0e2b3d; }
    .best_cnt .swiper-slide p {
      margin: 4.1667vw 0 18.0556vw 0;
      color: #999999; }
  .best_cnt .controlbox {
    margin: 0 -4.1667vw;
    /* transform-origin : transform을 시킬때 기준점, 기본값 center */ }
    .best_cnt .controlbox .swiper-button-prev img, .best_cnt .controlbox .swiper-button-next img {
      display: block;
      height: 6.66667vw;
      width: 3.33333vw;
      margin-left: 6.9444vw; }
    .best_cnt .controlbox .swiper-button-prev, .best_cnt .controlbox .swiper-button-next {
      color: transparent; }
    .best_cnt .controlbox .swiper-button-next {
      top: 30%; }
    .best_cnt .controlbox .swiper-scrollbar {
      position: absolute;
      margin: 11.1111vw auto;
      height: 58.3333vw;
      width: 90%;
      top: 100.0000vw;
      background: #999999;
      height: 0.2778vw;
      width: 13.125rem; }
      .best_cnt .controlbox .swiper-scrollbar .swiper-scrollbar-drag {
        height: 1.3889vw;
        background: #000;
        top: -0.5556vw; }

.new_cnt {
  width: 100%;
  position: relative;
  margin-top: 19.4444vw; }
  .new_cnt .bg_green::before {
    content: "";
    position: absolute;
    top: -13.8889vw;
    left: 0;
    height: 83.3333vw;
    width: 100%;
    background: rgba(0, 174, 159, 0.1); }
  .new_cnt .swiper-container {
    padding-bottom: 13.8889vw; }
    .new_cnt .swiper-container .swiper-slide {
      text-align: center;
      width: 80%;
      display: flex;
      /* 내용을 중앙정렬 하기위해 flex 사용 */
      align-items: center;
      /* 위아래 기준 중앙정렬 */
      justify-content: center; }
      .new_cnt .swiper-container .swiper-slide a {
        display: block;
        width: 100%;
        height: 100%; }
        .new_cnt .swiper-container .swiper-slide a img {
          width: 100%;
          -webkit-border-radius: 10%;
          border-radius: 10%; }
    .new_cnt .swiper-container .swiper-pagination-bullet {
      width: 2.2222vw;
      height: 2.2222vw; }
    .new_cnt .swiper-container .swiper-pagination-bullet-active {
      background: #00ae9f; }

.blue_btn ul {
  margin: 19.4444vw 4.1667vw;
  text-align: center; }
  .blue_btn ul lI {
    width: 91.6667vw;
    display: inline-block; }
    .blue_btn ul lI a {
      display: block;
      height: 16.6667vw;
      background: #4A9EC0;
      color: #ffffff;
      line-height: 16.6667vw;
      padding-left: 13.8889vw;
      height: 16.6667vw;
      font-size: 5.0000vw;
      -webkit-border-radius: 3em;
      border-radius: 3em;
      position: relative;
      text-align: left; }
    .blue_btn ul lI img {
      position: absolute;
      top: 0.2778vw;
      right: 0.2778vw;
      height: 16.1111vw; }
    .blue_btn ul lI + li {
      margin-top: 8.3333vw; }

.follow {
  position: relative;
  padding: 8.3333vw 5.5556vw;
  background: #f8f8f8;
  -webkit-border-radius: 3em;
  border-radius: 3em; }
  .follow h3::before {
    display: block;
    content: "";
    position: absolute;
    top: 38.8889vw;
    left: calc(50% - 0.2778vw);
    height: 13.8889vw;
    width: 0.5556vw;
    background: #0e2b3d; }
  .follow ul {
    margin: 27.7778vw 0 13.8889vw;
    text-align: center; }
    .follow ul li {
      height: 6.6667vw;
      width: 6.6667vw;
      display: inline-block; }
      .follow ul li + li {
        margin-left: 8.3333vw; }
  .follow #movie {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden; }
    .follow #movie iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none; }

/*# sourceMappingURL=main.css.map */
